extends layout

block content
  section.parallax_window_in.short(data-parallax='scroll', data-image-src='./images/trading-platform.jpg', data-natural-width='1400', data-natural-height='400')
    #sub_content_in
      .container
        h1 Tradebookについて　- ソーシャルトレード - 
        p トレードに革命を
  #position
    .container
      ul
        li
          a(href='/') Home
        li Tradebook
  main
    .container.margin_60_35
      .content.lead.styled
        p
          | Rev Tradingでは優秀なトレーダーのシグナルを受信する事により（有料シグナルと無料シグナルがあります）、あなたの口座が優秀なトレーダーと自動的に連動して取引を行うことが可能です。
        p シグナル受信のみで取引をご希望の場合はサーバー管理型自動売買となりますので、PCやスマートフォンを常に立ち上げている必要はありません。
        p
          | また、プロトレーダーの方もご自身のシグナルを提供することにより、月額利用料や成功報酬を得ることが可能です。是非オリジナルポートフォリオを創って運用にご活用ください。
        p 手続きはカンタン!
        h4 ユーザーサイド
        ul
          li 1. Rev Tradingに口座開設
          li 2. Tradebookに申し込む
          li 3. 好きなシグナルをフォロー（同時に稼働させるのは最大3シグナル）
          li 4. シグナル受信をON
        p
          em ＊ご自身のお好きなタイミングで受信をON/OFFできます。
        h4 シグナルプロバイダーサイド
        ul
          li 1. Rev Tradingに口座開設
          li 2. Tradebook シグナルプロバイダーに申し込む
          li 3. シグナル配信元の口座を指定
          li 4. サブスクリプションフィーの設定
          li 5. 成功報酬の設定
        h4 Power Pushシグナル
        p Trader, AI Trade, Swing Trader, Crypto Trader など等
    // /container
    .container-fluid
      .row
        .col-md-6.nopadding
          .features-bg
            .features-img
              img(src='./images/trading-img-2.jpg', style='width:100%', alt='')
        .col-md-6.nopadding
          .features-content
            h3 "Makes a difference"
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed
              | sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            p
              a.btn_1.white(href='#') Read more
    // /container-fluid
    .bg_contain
      .container.margin_60_35
        //
          <h3 class="main_title">Diam nonummy nibham liber</h3>
          <p class="lead styled center">
          Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos.
          </p>
        .row
          .col-sm-6
            .box_service_2
              i.icon_check_alt2
              h4 Suas summo id sed erat erant oporteat
              p
                | Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo
                | posidonium necessitatibus. Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute
                | legimus ne. Mea dicta facilisis eu.
          .col-sm-6
            .box_service_2
              i.icon_check_alt2
              h4 Suas summo id sed erat erant oporteat
              p
                | Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo
                | posidonium necessitatibus. Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute
                | legimus ne. Mea dicta facilisis eu.
        // /row
        .row
          .col-sm-6
            .box_service_2
              i.icon_check_alt2
              h4 Suas summo id sed erat erant oporteat
              p
                | Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo
                | posidonium necessitatibus. Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute
                | legimus ne. Mea dicta facilisis eu.
          .col-sm-6
            .box_service_2
              i.icon_check_alt2
              h4 Suas summo id sed erat erant oporteat
              p
                | Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo
                | posidonium necessitatibus. Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute
                | legimus ne. Mea dicta facilisis eu.

