footer
  .container.margin_60_35
    .row
      .col-md-4.col-sm-6
        img#logo_footer(src='images/rev-trading-white.png', width='190', height='48', alt='Seoexperts', data-retina='true')
        p(style="text-align:justify;")
          =__("footer.Risk warning Forex trading")
      .col-md-3.col-md-offset-1.col-sm-3
        h3=__("footer.Basic information")
        ul
          li
            a(href='../documents/Terms_and_Conditions.pdf', target='_blank') Terms and Conditions
          li
            a(href='../documents/Risk_Disclosure.pdf', target='_blank') Risk Disclosure
          li
            a(href='../documents/Anti_Money_Laundering_Policy.pdf', target='_blank')
              | Anti Money Laundering
              | Policy
          li
            a(href='../documents/Cookie_Policy.pdf', target='_blank') Cookie
          li
            a(href='../documents/Privacy_Policy.pdf', target='_blank') Privacy Policy
          li
            a(href='../documents/Risk_Warning_Policy.pdf', target='_blank', <='', a='')
          a(href='../documents/Risk_Warning_Policy.pdf', target='_blank', <='', a='')
          li
            a(href='../documents/Risk_Warning_Policy.pdf', target='_blank', <='', a='')
            a(href='../documents/Margin_Call_Policy.pdf', target='_blank') Margin Call Policy
      #contact_bg.col-md-4.col-sm-3
        h3 Company information
        ul#contact_details_footer
          li - Forex and CFD Related Service  Offered by
          li#address_book_footer Company: Rev Trading Limited
          li#address_footer Address: Suite 102, Ground Floor, Blake Building, Corner Eyre & Hutson Streets, Belize City, Belize
          li#address_number_footer Company Number: 174629
          li#email_footer
            a(href='mailto:support@rev-trading.net') Email: support@rev-trading.net
    // End row
    .row(style='text-align: center;')
      .small
        =__("footer.Rev Trading is an")
    // End row
    #social_footer
      ul
        // <li><a href="#"><i class="social_facebook_circle"></i></a></li>
        li
          a(href='https://twitter.com/RevTrading',target='_blank')
            i.social_twitter_square
        //
          <li><a href="#"><i class="social_googleplus_circle"></i></a></li>
          <li><a href="#"><i class="social_vimeo_square"></i></a></li>
  // End container
  #copy
    .container
      | © RevTrading 2019 - All rights reserved.
  // End copy
// End footer
// COMMON SCRIPTS
script(src='js/jquery-2.2.4.min.js')
script(src='js/common_scripts.js')
script(src='js/header_sticky_1.js')
script(src='js/functions.js')
script(src='js/spreadsheet-data.js')

// LayerSlider script files
script(src='layerslider/js/greensock.js')
script(src='layerslider/js/layerslider.transitions.js')
script(src='layerslider/js/layerslider.kreaturamedia.jquery.js')
script(src='js/slider_func.js')
